<h1>Please login please please</h1>

<form action="/login" method="post">
  <label for="username">Username:</label>
  <input class="block" id="username" type="text" name="username">

  <label for="password">Password:</label>
  <input class="block" id="password" type="password" name="password">

  <input type="submit" value="Login">
</form>
